@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

body {
	/*border-top: 10px solid  #154360 ;*/
	margin: 0;
	color: grey;
	/*background-color:   #ecf0f1;*/
	font-family: 'Open Sans', sans-serif;
	background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

nav {
 box-sizing: border-box;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 padding: 30px 70px;
 text-align: center;
 font-size: 18px;
 float: right;
 letter-spacing: 1px;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  text-transform: full-width;
  color:  #434a54;
  padding: 1px 0;
  margin: 0 10px;
  transition-duration: 0.5s;
  outline: none;
}

#accueil {
	background-image: url("/home/userpop/git/resume/img/fond.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 100px;
	height: auto;
	width: auto;
}
#walid {
	float: right;
}
.moi {
  border: 2px solid gainsboro;
  overflow:hidden;
	float: left;
  margin: 0px 20px;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:75px;
  width:150px;
  height:150px;
}

h1 {
	border-bottom: 0px solid  #1c2833;
	display: inline-block;
	color:  #283747;
	font-weight: 600;
	text-transform: uppercase;
}

h2 {
	border-bottom: 3px solid  #1c2833;
	display: inline-block;
	color:  #283747;
	font-weight: 600;
	text-transform: uppercase;
}

h3 {
	border-bottom: 3px solid  #1c2833;
	display: inline-block;
	color:  #283747;
	font-weight: 600;
	text-transform: uppercase;
}

h4 {
	border-bottom: 3px solid  #1c2833;
	display: inline-block;
	color:  #283747;
	font-weight: 600;
	text-transform: uppercase;
}

ul {
	list-style: none;
}

.container {
	width: 50%;
	height: auto;
	margin: auto auto 0px auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.row {
	padding-bottom: 15px;
	padding-left: 20px;
}

header {

}

header h1 {
	font-size: 40pt;
}

header ul li {
	height: 25px;
}

header ul li i {
	color: black;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 18px;
}

article {
	width: 65%;
	margin: 100px auto;
}

article h2 {
	font-size: 20pt;
}

article .header {
	color: #283747;
	font-weight: 600;
}

article .header span {
	font-size: 10pt;
	font-style: italic;
}

article .right{
	float: right;
	width: 10%;
	font-weight: 600;

}

article .description {
	font-style: italic;
	font-size: 9pt;
}

article .exp-list .fa {
	color: red;
	padding-right: 5px;
	font-size: 12px;
}

article ul li {
	min-height: 25px;
	max-width: 80%;
}

article .reference {
	width: 40%;
	display: inline-block;
}

article .reference ul li {
	max-width: 100%;
}

article .spacer {
	height: 15px;
}

article .tech ul li {
	max-width: 100% !important;
}

article .tech span {
	font-weight: 600;
	color:  #283747 ;
}
#footer {
	background-image: url("/home/userpop/git/resume/img/fond.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	padding: 100px;
	height: auto;
	width: auto;
}
